.about-image {
  border: 2px solid #212C51;
  max-width: 50vw;
  max-height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow: 0 0 20px #eee;
  border-radius: 6px;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  color: #eee;
  font-size: 18px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align:justify;
}

@media only screen and (min-width: 768px) {
  .about-text {
    font-size: 24px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}