.form {
  margin: 20px;
}

.form input, 
.form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}

.message-input {
  resize: both;
  overflow: hidden;
  min-height: 200px;
}

.error-text {
  color: red;
  margin-left: 2rem;
}

.custom-btn {
  background-image: linear-gradient(to right, #8e9eab, #eef2f3);
  border: #1111 !important;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-btn:hover {
  background-position: right center;
  transform: scale(1.1) perspective(1px);
}

@media only screen and (max-width: 600px) {
  .form input,
  .form textarea {
    width: 100%
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .form input,
  .form textarea {
    width: 75%
  }
}